<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue 绑定</title>
</head>
<style>
  #app {
    text-align: center;
    margin-top: 200px;
  }
</style>
<body>
  <div id="app">
    <div v-if="true">hey!
      <div v-if="true">
        <div>name: {{ name }} age: {{ age }} test: {{ test }}
          <br>
          <button @click="clickText">click @</button>
          <br>
          <button v-on:click="clickText">click v-on</button>
        </div>
        <input v-model="hey" />
        <input :model="hey" />
        <p>v-model: {{ hey }}</p>
      </div>
    </div>
  </div>
</body>
<script src="./js/observer.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compile.js"></script>
<script src="./js/index.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      name: '新实例',
      age: '没年龄',
      test: '测试',
      hey: 'hey!',
      obj: {
        nameX: '新名字'
      }
    },
    mounted() {
      this.methods.clickBtn()
    },
    methods: {
      clickBtn() {
      },
      clickText() {
        alert('名字: ' + this.name)
      }
    },
  })

  const quickSort = arr => {
    if(arr.length <= 1) return arr
    let ran, l = [], r = [], v = []
    ran = Math.ceil(Math.random() * arr.length) -1

    for(let i = 0; i < arr.length; i++) {
      if (arr[i] < arr[ran]) {
        l.push(arr[i])
      } else if (arr[i] === arr[ran]) {
        v.push(arr[i])
      } else {
        r.push(arr[i])
      }
    }
    return [...quickSort(l), ...v, ...quickSort(r)]
  }
  // arr = quickSort([1, 2, 3, 51, 2, 35, 12, 351, 35, 2, 6, 26, 36, 236, 32, 46, 236, 2, 36, 236, 3, 7, 34, 74, 5, 734, 7, 2, 3, 72, 345, 23, 46, 2, 461, 3, 46, 47, 4357, 34, 75, 43, 74, 57, 45])
</script>
</html>