<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue 绑定</title>
</head>
<style>
  #app {
    text-align: center;
    margin-top: 200px;
  }
</style>
<body>
  <div id="app">
    <div v-if="true">hey!
      <div v-if="true">
        <div>name: {{ name }} age: {{ age }} test: {{ test }}
          <br>
          <button @click="clickText">click @</button>
          <br>
          <button v-on:click="clickText">click v-on</button>
        </div>
        <input v-model="hey" />
        <input :model="hey" />
        <p>v-model: {{ hey }}</p>
      </div>
    </div>
  </div>
</body>
<script src="./js/observer.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compile.js"></script>
<script src="./js/index.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      name: '新实例',
      age: '没年龄',
      test: '测试',
      hey: 'hey!',
      obj: {
        nameX: '新名字'
      }
    },
    mounted() {
      this.methods.clickBtn()
    },
    methods: {
      clickBtn() {
      },
      clickText() {
        console.log('名字: ' + this.name)
      }
    },
  })
</script>
</html>