<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    viewport = (window, document) => {
      'use strict';

      //给hotcss开辟个命名空间，别问我为什么，我要给你准备你会用到的方法，免得用到的时候还要自己写。
      var hotcss = {};

      (function () {
        //根据devicePixelRatio自定计算scale
        //可以有效解决移动端1px这个世纪难题。
        var viewportEl = document.querySelector('meta[name="viewport"]'),
          hotcssEl = document.querySelector('meta[name="hotcss"]'),
          dpr = 1,
          // dpr = window.devicePixelRatio || 1,
          maxWidth = 375,
          designWidth = 0;

        // dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);

        //允许通过自定义name为hotcss的meta头，通过initial-dpr来强制定义页面缩放
        if (hotcssEl) {
          var hotcssCon = hotcssEl.getAttribute('content');
          if (hotcssCon) {
            var initialDprMatch = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
            if (initialDprMatch) {
              dpr = parseFloat(initialDprMatch[1]);
            }
            var maxWidthMatch = hotcssCon.match(/max\-width=([\d\.]+)/);
            if (maxWidthMatch) {
              maxWidth = parseFloat(maxWidthMatch[1]);
            }
            var designWidthMatch = hotcssCon.match(/design\-width=([\d\.]+)/);
            if (designWidthMatch) {
              designWidth = parseFloat(designWidthMatch[1]);
            }
          }
        }

        document.documentElement.setAttribute('data-dpr', dpr);
        hotcss.dpr = dpr;

        document.documentElement.setAttribute('max-width', maxWidth);
        hotcss.maxWidth = maxWidth;

        if (designWidth) {
          document.documentElement.setAttribute('design-width', designWidth);
        }
        hotcss.designWidth = designWidth; // 保证px2rem 和 rem2px 不传第二个参数时, 获取hotcss.designWidth是undefined导致的NaN

        var scale = 1 / dpr,
          content = 'width=device-width, initial-scale=' + scale + ', minimum-scale=' + scale + ', maximum-scale=' + 1 + ',user-scalable=no';

        if (viewportEl) {
          viewportEl.setAttribute('content', content);
        } else {
          viewportEl = document.createElement('meta');
          viewportEl.setAttribute('name', 'viewport');
          viewportEl.setAttribute('content', content);
          document.head.appendChild(viewportEl);
        }

      })();

      hotcss.px2rem = function (px, designWidth) {
        //预判你将会在JS中用到尺寸，特提供一个方法助你在JS中将px转为rem。就是这么贴心。
        if (!designWidth) {
          //如果你在JS中大量用到此方法，建议直接定义 hotcss.designWidth 来定义设计图尺寸;
          //否则可以在第二个参数告诉我你的设计图是多大。
          designWidth = parseInt(hotcss.designWidth, 10);
        }

        return parseInt(px, 10) * 320 / designWidth / 20;
      }

      hotcss.rem2px = function (rem, designWidth) {
        //新增一个rem2px的方法。用法和px2rem一致。
        if (!designWidth) {
          designWidth = parseInt(hotcss.designWidth, 10);
        }
        //rem可能为小数，这里不再做处理了
        return rem * 20 * designWidth / 320;
      }

      hotcss.mresize = function () {
        //对，这个就是核心方法了，给HTML设置font-size。
        var innerWidth = document.documentElement.getBoundingClientRect().width || window.innerWidth;

        if (hotcss.maxWidth && (innerWidth / hotcss.dpr > hotcss.maxWidth)) {
          innerWidth = hotcss.maxWidth * hotcss.dpr;
        }

        if (!innerWidth) { return false; }

        document.documentElement.style.fontSize = (innerWidth * 20 / 320) + 'px';

        hotcss.callback && hotcss.callback();

      };

      hotcss.mresize();
      //直接调用一次

      window.addEventListener('resize', function () {
        clearTimeout(hotcss.tid);
        hotcss.tid = setTimeout(hotcss.mresize, 33);
      }, false);
      //绑定resize的时候调用

      window.addEventListener('load', hotcss.mresize, false);
      //防止不明原因的bug。load之后再调用一次。


      setTimeout(function () {
        hotcss.mresize();
        //防止某些机型怪异现象，异步再调用一次
      }, 333)

      window.hotcss = hotcss;
      //命名空间暴露给你，控制权交给你，想怎么调怎么调。


    };
  </script>
  <style>
    html {
      width: 100%;
    }
    .content {
      padding: 0 5%;
      font-size: 70px;
    }
    .comple .comple_title, .abe .comple_title, .figure .comple_title {
      margin-bottom: 15px;
      font-size: 20px;
    }
    .comple .radius_box {
      width: 100%;
      position: relative;
    }
    .comple .radius_box .el-radio {
      height: 80px;
      margin-bottom: 30px;
    }
    .comple .radius_box .el-radio__label {
      width: 100%;
      height: 80px;
      line-height: 80px;
    }
    .comple .radius_box .el-radio__inner {
      margin-bottom: 70px;
    }
    .comple .comple_color {
      width: 50px;
      height: 50px;
      margin-left: 30px;
      padding: 15px;
      display: inline-block;
      box-shadow: 0 30px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
      border-radius: 50%;
    }
    .comple .w {
      background: #FBDCBD;
    }
    .comple .g_w {
      background: #F4D5B8;
    }
    .comple .g {
      background: #EAC497;
    }
    .comple .g_b {
      background: #DAA67E;
    }
    .comple .b {
      background: #CB9A71;
    }

    .figure {
      font-size: 15px;
    }
    .figure .radius_box {
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .abe .radius_box .el-radio {
      height: 30px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .upload_div {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #409EFF;
      cursor: pointer;
      margin-bottom: 30px;
    }
    .upload_div span {
      display: inline-block;
      font-size: 70px;
      color: #409EFF;
    }
    .upload_div img {
      height: 130px;
    }
    .input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    .btn_group {
      bottom: 20px;
      width: 89%;
      /* padding: 0 5%; */
      height: auto;
      position: fixed;
    }
    .btn_group .btn {
      width: 43.1%;
      display: inline-block;
      vertical-align: top;
    }
    .el-button+.el-button {
      margin-left: 0;
      float: right;
    }
    .result_page {
      text-align: center;
    }
    .result_page div {
      text-align: left;
      font-size: 13px;
      padding: 0 5%;
      margin-bottom: 15px;
      font-family:"微软雅黑";
    }

    .result_page img {
      width: 80%;
    }
    .1st {
      text-align: left !important;
    }
  </style>
  <title>F29班美丽升级计划</title>
</head>
<body>
  <div id="app">
    <section class="content">
      <div v-if="step === 7" class="result_page">
        <img :src="img">
        <!-- <div>{{ `肤色: ${checkBox.complexion}, 适合色调: ${colorResult}` }}</div> -->
        <div></div>
        <div class="1st">{{ `小组: ${classs} 姓名: ${name} 第 ${count} 次打卡` }}</div>
        <!-- <div class="1st">{{ `姓名: ${name}` }}</div> -->
        <!-- <div class="1st">{{ `第 ${count} 次打卡` }}</div> -->
        <div>{{ `肤色: ${state[checkBox.complexion]}, 色差: ${checkBox.abe}` }}</div>
        <div>{{ `推荐色调: ${absResult}` }}</div>
        <div>{{ `推荐首饰/配饰/服装上的图案: ${result.figure}` }}</div>
        <div>{{ `推荐衣服廓形(松紧): ${result.photo}` }}</div>
        <div>{{ `推荐衣服版型(款型): ${closethStyle[checkBox.bone]}` }}</div>
        <div>{{ `辨别类型: ${type[checkBox.bone + ' ' + checkBox.abe]}` }}</div>
        <div>{{ `深浅搭配: ${checkBox.other_1}` }}</div>
        <div>{{ `场景: ${checkBox.other_2}` }}</div>
        <div></div>
      </div>
      <!-- <el-button type="primary" @click="consoleResult(step)">看结果(测试用)</el-button> -->
      <div v-if="step !== 7" class="btn_group">
        <el-button class="btn" v-if="step > 1" type="primary" @click="step > 1 ? step-- : ''">上一步</el-button>
        <el-button class="btn" type="primary" @click="next(step)">{{ step === 6 ? '提交' : '下一步' }}</el-button>
      </div>
      <div v-if="step === 1" class="comple">
        <div class="comple_title">
          请选择与您肤色最为接近的选项
          <br>
        </div>
        <el-radio-group class="radius_box" v-model="checkBox.complexion">
          <el-radio label="白">
            <span class="comple_color w"></span>
          </el-radio>
          <br>
          <el-radio label="灰白">
            <span class="comple_color g_w"></span>
          </el-radio>
          <br>
          <el-radio label="灰">
            <span class="comple_color g"></span>
          </el-radio>
          <br>
          <el-radio label="深灰">
            <span class="comple_color g_b"></span>
          </el-radio>
          <br>
          <el-radio label="黑">
            <span class="comple_color b"></span>
          </el-radio>
        </el-radio-group>
      </div>
      <div v-if="step === 2" class="abe">
        <div class="comple_title">
          请选择您瞳色、发色、肤色的色差值
        </div>
        <el-radio-group class="radius_box" v-model="checkBox.abe">
          <el-radio label="非常大"></el-radio>
          <br>
          <el-radio label="中等"></el-radio>
          <br>
          <el-radio label="非常弱"></el-radio>
        </el-radio-group>
      </div>
      <div v-if="step === 3" class="figure">
        <div class="comple_title">
          请选择您的眼睛、脸型、身高数据
        </div>
        眼睛:
        <br>
        <el-radio-group class="radius_box" v-model="checkBox.eyes">
          <el-radio label="大"></el-radio>
          <el-radio label="中等"></el-radio>
          <el-radio label="小"></el-radio>
        </el-radio-group>
        <br>
        脸型:
        <br>
        <el-radio-group class="radius_box" v-model="checkBox.face">
          <el-radio label="宽"></el-radio>
          <el-radio label="中等"></el-radio>
          <el-radio label="窄"></el-radio>
        </el-radio-group>
        <br>
        身高:
        <br>
        <el-radio-group class="radius_box" v-model="checkBox.figure">
          <el-radio label="高">高 (大于170cm)</el-radio>
          <el-radio style="margin-top: 15px;" label="中等">中等 (160cm 到 169cm)</el-radio>
          <el-radio style="margin-top: 15px;" label="娇小">娇小 (小于160cm)</el-radio>
        </el-radio-group>
      </div>
      <div v-if="step === 4" class="figure">
        <div class="comple_title">
          请选择您的骨骼立体感
        </div>
        <el-radio-group class="radius_box" v-model="checkBox.bone">
          <el-radio label="明显"></el-radio>
<!--           <el-radio label="中等"></el-radio> -->
          <el-radio label="不明显"></el-radio>
        </el-radio-group>
        <br>
      </div>
      <div v-if="step === 5" class="figure">
        <div class="comple_title">
          今日穿搭配色说明:
        </div>
        <br>
        <el-radio-group class="radius_box" v-model="checkBox.other_1">
          <el-radio label="深浅1:1"></el-radio>
          <el-radio label="深多浅少"></el-radio>
          <el-radio label="浅多深少"></el-radio>
        </el-radio-group>
        <br>
        <div class="comple_title">
          今日穿搭适用场景:
        </div>
        <br>
        <el-radio-group class="radius_box" v-model="checkBox.other_2">
          <el-radio label="通勤"></el-radio>
          <el-radio label="商务"></el-radio>
          <el-radio label="日间社交"></el-radio>
          <br>
          <div style="margin-top: 15px;"></div>
          <br>
          <el-radio label="晚间社交"></el-radio>
          <el-radio label="出游"></el-radio>
        </el-radio-group>
        <br>
      <!-- </div>
      <div v-if="step === 6" class="upload_photo"> -->
        <br>
        <div class="comple_title">
          上传照片:
        </div>
        <br>
        <input id="input" class="input" @input="upload" type="file">
        <div class="upload_div" @click="toUpload">
          <span v-if="!img" class="el-icon-upload2"></span>
          <img v-else :src="img">
        </div>
      </div>
      <div v-if="step === 6" class="figure">
        <div class="comple_title">
          姓名:
        <el-input v-model="name"></el-input>
        <br>
        <div class="comple_title">
          小组:
        <el-input v-model="classs"></el-input>
        <br>
        <div class="comple_title">
          {{ `第几次打卡 ${exCount ? '(上一次打卡为第' + exCount + '次)' : ''}` }}
        <el-input v-model="count"></el-input>
      </div>
    </section>
  </div>
</body>


<script>
  new Vue({
    el: '#app',
    data() {
      return {
        // 1 - 肤色  2 - 色差
        step: 1,
        colorResult: '',
        absResult: '',
        name: localStorage.getItem('name') ? localStorage.getItem('name') : '',
        classs: localStorage.getItem('classs') ? localStorage.getItem('classs') : '',
        exCount: localStorage.getItem('count') ? localStorage.getItem('count') : '',
        count: '',

        img: '',

        checkBox: {
          // 肤色
          complexion: '',
          abe: '',
          eyes: '',
          face: '',
          figure: '',
          bone: '',
          other_1: '',
          other_2: '',
        },

        result: {
          complexionColor: [],
          absColor: [],
          figure: '',
          photo: '',
          other_1: '',
          other_2: '',
        },

        color: {
          P: '淡色调',
          It: '浅色调',
          b: '明亮色调',
          v: '鲜艳色调',
          Itg: '浅灰色调',
          sf: '轻柔色调',
          s: '强烈色调',
          g: '灰色调',
          d: '浊色调',
          dkg: '暗灰色调',
          dk: '暗色调',
          dp: '深色调',
        },
        closethStyle: {
          '明显': '可穿夸张、复杂款式的衣服',
          '中等': '可穿有一定款式的衣服',
          '不明显': '可穿简约、简单款式的衣服',
        },
        type: {
          '明显 非常大': '有色有骨 色动款动',
          '明显 中等': '有色有骨 色动款动',
          '明显 非常弱': '无色有骨 色静款动',
          '中等 非常大': '有色有骨 色动款动',
          '中等 中等': '有色有骨 色动款动',
          '中等 非常弱': '无色有骨 色静款动',
          '不明显 非常大': '有色无骨 色动款静',
          '不明显 中等': '有色无骨 色动款静',
          '不明显 非常弱': '无色无骨 色静款静',
        },
        abeData: ['非常大', '中等', '非常弱'],
        colorData: ['白', '灰白', '灰', '深灰', '黑'],
        eyesData: ['大', '中等', '小'],
        faceData: ['宽', '中等', '窄'],
        figureData: ['高', '中等', '娇小'],
        
        state: {
          '白':　'浅',
          '灰白':　'中',
          '灰':　'中',
          '深灰':　'中',
          '黑':　'深',
        },
      }
    },
    mounted() {
      // 自适应
      viewport(window, document)
    },
    methods: {
      // 选择肤色
      checkComple(val, jump) {
        if(!val) {
          this.$message({
            message: '请选择与您肤色最为接近的选项',
            type: 'warning'
          })
          return
        }
        switch(val) {
          case '白': 
            this.result.complexionColor = ['P', 'It', 'b', 'v']
            if(!jump) this.step++
            break
          case '灰白': 
            this.result.complexionColor = ['Itg', 'sf', 's']
            if(!jump) this.step++
            break
          case '灰': 
            this.result.complexionColor = ['Itg', 'g', 'sf', 'd', 's']
            if(!jump) this.step++
            break
          case '深灰': 
            this.result.complexionColor = ['g', 'd', 's']
            if(!jump) this.step++
            break
          case '黑': 
            this.result.complexionColor = ['dkg', 'dk', 'dp']
            if(!jump) this.step++
            break
          default: break
        }
      },

      // 选择色差
      checkAbe(val, jump) {
        if(!val) {
          this.$message({
            message: '请选择您瞳色、发色、肤色的色差值',
            type: 'warning'
          })
          return
        }
        this.abeData.forEach(item => {
          this.colorData.forEach(subItem => {
            switch(`${val} ${this.checkBox.complexion}`) {
              case '非常大 白':
                this.result.absColor = ['v', 'b']
                break
              case '非常大 灰白':
                this.result.absColor = ['b']
                break
              case '非常大 灰':
                this.result.absColor = ['s']
                break
              case '非常大 深灰':
                this.result.absColor = ['dp']
                break
              case '非常大 黑':
                this.result.absColor = ['v', 'dp', 'dk']
                break
              case '中等 白':
                this.result.absColor = ['It', 'b']
                break
              case '中等 灰白':
                this.result.absColor = ['sf', 'b', 'It']
                break
              case '中等 灰':
                this.result.absColor = ['sf', 'd', 's']
                break
              case '中等 深灰':
                this.result.absColor = ['d']
                break
              case '中等 黑':
                this.result.absColor = ['dp', 'dk']
                break
              case '非常弱 白':
                this.result.absColor = ['P', 'It']
                break
              case '非常弱 灰白':
                this.result.absColor = ['Itg']
                break
              case '非常弱 灰':
                this.result.absColor = ['Itg', 'g']
                break
              case '非常弱 深灰':
                this.result.absColor = ['g']
                break
              case '非常弱 黑':
                this.result.absColor = ['dkg']
                break
              default: break
            }
          })
        })
        this.result.absColor.forEach(item => {
          this.absResult += `${item} ${this.color[item]} `
        })
        if(!jump) this.step++
      },

      // 选择身材脸型
      checkFigure(jump) {
        if(!this.checkBox.figure || !this.checkBox.eyes || !this.checkBox.face) {
          this.$message({
            message: '请选择您的身高、脸型、眼睛数据',
            type: 'warning'
          })
          return
        }
        this.figureData.forEach(item => {
          this.eyesData.forEach(subItem => {
            switch(`${this.checkBox.figure} ${this.checkBox.eyes}`) {
              case '高 大':
                this.result.figure = '大图案, 且可穿不规则图案'
                break
              case '高 中等':
                this.result.figure = '大图案, 中等图案'
                break
              case '高 小':
                this.result.figure = '大图案, 中等图案'
                break
              case '中等 大':
                this.result.figure = '大图案, 中等图案'
                break
              case '中等 中等':
                this.result.figure = '中等图案'
                break
              case '中等 小':
                this.result.figure = '中等图案, 小图案'
                break
              case '娇小 大':
                this.result.figure = '中等图案, 小图案'
                break
              case '娇小 中等':
                this.result.figure = '中等图案, 小图案'
                break
              case '娇小 小':
                this.result.figure = '小图案'
                break
              default: break
            }
          })
          this.faceData.forEach(subItem => {
            switch(`${this.checkBox.figure} ${this.checkBox.face}`) {
              case '高 宽':
                this.result.photo = '宽 + 宽'
                break
              case '高 中等':
                this.result.photo = '宽 + 窄'
                break
              case '高 窄':
                this.result.photo = '宽 + 窄'
                break
              case '中等 宽':
                this.result.photo = '宽 + 窄'
                break
              case '中等 中等':
                this.result.photo = '宽 + 窄'
                break
              case '中等 窄':
                this.result.photo = '宽 + 窄'
                break
              case '娇小 宽':
                this.result.photo = '宽 + 窄'
                break
              case '娇小 中等':
                this.result.photo = '宽 + 窄'
                break
              case '娇小 窄':
                this.result.photo = '窄 + 窄'
                break
              default: break
            }
          })
        })
        if(!jump) this.step++
        console.log(this.checkBox, this.result)
      },

      // 打印结果
      consoleResult(step) {
        let text = ''
        switch(step) {
          case 1:
            this.checkComple(this.checkBox.complexion, true)
            this.result.complexionColor.forEach(item => {
              text += `${item} ${this.color[item]} `
            })
            this.colorResult = text
            alert(`肤色: ${this.checkBox.complexion}, 适合色调: ${this.colorResult}`)
            break
          case 2:
            // this.checkAbe(this.checkBox.abe, true)
            this.result.absColor.forEach(item => {
              text += `${item} ${this.color[item]} `
            })
            this.absResult = text
            console.log(this.absResult)
            alert(`肤色: ${this.checkBox.complexion}, 色差: ${this.checkBox.abe}, 适合色调: ${this.absResult}`)
            break
          case 3:
            this.checkFigure(true)
            alert(`推荐首饰/配饰/服装上的图案: ${this.result.figure}, 推荐衣服廓形(松紧): ${this.result.photo}`)
            break
          case 4:
            alert(`推荐衣服版型(款型): ${this.closethStyle[this.checkBox.bone]}, 辨别类型: ${this.type[this.checkBox.bone + ' ' + this.checkBox.abe]}`)
            break
          default: break
        }
      },

      // 下一步
      next(step) {
        switch (step) {
          case 1:
            this.checkComple(this.checkBox.complexion)
            break
          case 2:
            this.checkAbe(this.checkBox.abe)
            break
          case 3:
            this.checkFigure()
            break
          case 4:
            if(!this.checkBox.bone) {
              this.$message({
                message: '请选择您的骨骼感(颧骨眉骨与眼窝的立体程度)',
                type: 'warning'
              })
              return
            }
            // alert(`推荐衣服版型(款型): ${this.closethStyle[this.checkBox.bone]}, 辨别类型: ${this.type[this.checkBox.bone + ' ' + this.checkBox.abe]}`)
            this.step++
            break
          case 5:
            if(!this.checkBox.other_1 || !this.checkBox.other_2 || !this.img) {
              this.$message({
                message: '请选择深浅搭配、场景, 及上传您的照片',
                type: 'warning'
              })
              return
            }
            this.step++
            break
          case 6:
            if(!this.name || !this.classs || !this.count) {
              this.$message({
                message: '请输入您的姓名、班级、打卡次数',
                type: 'warning'
              })
              return
            }
            localStorage.setItem('name', this.name)
            localStorage.setItem('classs', this.classs)
            localStorage.setItem('count', this.count)
            this.step++
            break
          default: break
        }
      },

      toUpload() {
        let dom = document.getElementById('input')
        dom.click()
      },
      upload(e) {
        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0])
        this.img = reader.result
        let self = this
        reader.onload = () => {
          self.img = reader.result
          console.log('img: ', self.img)
          self.$forceUpdate()
        }
        this.$forceUpdate()
      },
    },
  })
</script>
</html>
